{% macro tagCheckboxes(idPrefix, suggestedTags) %}
<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
  {% for tag in suggestedTags %}
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="{{ idPrefix }}-tag-{{ loop.index }}" name="tags" type="checkbox" value="{{ tag }}">
    <label class="govuk-label govuk-checkboxes__label" for="{{ idPrefix }}-tag-{{ loop.index }}">{{ tag }}</label>
  </div>
  {% endfor %}
</div>
{% endmacro %}
